@inject IWebHostEnvironment Env
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />

    @*This makes sure mobile devices don't zoom in when the page first load*@
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    @*This styles the top bar of the we browser on a mobile device!*@
    <meta name="theme-color" content="#F5F5F5" />

    @*
    This is the page title, it's what appears in the tab of the web browser
    Note that the first part is always the same, and the 2nd part will come from
    the @ViewData["Title"] variable that can be set on each page
    *@
    <title>Landmark Analytics - @ViewData["Title"]</title>

    @*
    We first link to a "normalize.css" file hosted elsewhere on the internet
    This will make sure all web browsers render html elements consistently
    *@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" />

    @* Next we have the application styles. Everything to make the logo animate is in a separate file so the main one isn't cluttered up *@
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/logo-animation.css" asp-append-version="true" />

    @*Google Analytics - Only output wen built in production mode*@
    @if (Env.IsProduction())
    {
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-XJG5GTZFYF"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());
            gtag('config', 'G-XJG5GTZFYF');
        </script>
    }
</head>
<body>
    <header>
        <h1>
            <span id="header-text">Landmark Analytics</span>

            @*
            This is a special Razor tag that allows us to insert a partial page here.
            Take a look in the /Pages/Shared/_LandmakrkLogoSvg.cshtml file, it contains the SVG logo.
            It's been moved to be in a separate file just so this page isn't cluttered up with all of that stuff
            *@
            <partial name="_LandmarkLogoSvg" model='new {id="header-logo"}'>
        </h1>
    </header>

    <main role="main">
        @RenderBody()
    </main>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
