<a asp-active-class="current" asp-page="/Index">Home</a>
<a asp-active-class="current" asp-page="/Expertise">Expertise</a>
<a asp-active-class="current" asp-page="/Industries">Industries</a>
<a asp-active-class="current" asp-page="/Solutions">Solutions</a>
<a asp-active-class="current" asp-page="/About">About</a>
<a asp-active-class="current" asp-page="/Contact">Contact</a>
