@use 'variables' as variables;

.btn {
  display: inline-block;
  font-weight: variables.$btn-font-weight;
  line-height: variables.$btn-line-height;
  color: variables.$btn-color;
  font-size: variables.$btn-font-size;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: variables.$btn-color-bg;
  border: variables.$btn-border-width solid variables.$btn-border-color;
  padding: variables.$btn-padding;
  border-radius: variables.$btn-radius;
  transition:
    color variables.$btn-transition-speed variables.$btn-transition-easing,
    background-color variables.$btn-transition-speed variables.$btn-transition-easing,
    border-color variables.$btn-transition-speed variables.$btn-transition-easing,
    box-shadow variables.$btn-transition-speed variables.$btn-transition-easing;

  &:hover {
    color: variables.$btn-hover-color;
    background-color: variables.$btn-hover-color-bg;
    border-color: variables.$btn-hover-color-border;
  }

  &:focus {
    color: variables.$btn-focus-color;
    background-color: variables.$btn-focus-color-bg;
    border-color: variables.$btn-focus-color-border;
    box-shadow: variables.$btn-focus-shadow;
    outline: 0;
  }
}
