@use 'variables' as variables;

#main-content {
  // h1 should not be used in the content!
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0 0 variables.$spacer;
    font-weight: variables.$font-weight-semibold;
  }
}

.lead {
  // for lead paragraphs
  font-size: variables.$font-size-md;
  font-weight: variables.$font-weight-light;
}
