@use 'variables' as variables;

.form-group {
  position: relative;
  margin: variables.$form-group-margin;

  label {
    position: absolute;
    top: 0;
    left: 0;
    z-index: variables.$form-label-zindex;
    height: 100%;
    padding: variables.$form-label-padding;
    color: variables.$form-label-color;
    overflow: hidden;
    text-align: start;
    text-overflow: ellipsis;
    white-space: nowrap;
    pointer-events: none;
    border: variables.$form-ctrl-border-width solid transparent;
    transform-origin: 0 0;
    transition:
      opacity variables.$form-label-transition-speed variables.$form-label-transition-easing,
      transform variables.$form-label-transition-speed variables.$form-label-transition-easing;
  }
}

.form-ctrl {
  display: block;
  width: 100%;
  font-family: variables.$form-ctrl-font-family;
  font-size: variables.$form-ctrl-font-size;
  padding: variables.$form-ctrl-padding;
  background-color: variables.$form-ctrl-bg;
  background-clip: padding-box;
  outline-width: 0;
  border: variables.$form-ctrl-border-width solid variables.$form-ctrl-border-color;
  border-radius: variables.$form-ctrl-radius;
  height: variables.$form-ctrl-height;
  min-height: variables.$form-ctrl-height;
  line-height: variables.$form-ctrl-line-height;
  transition:
    outline-color variables.$form-ctrl-transition-speed variables.$form-ctrl-transition-easing,
    border-color variables.$form-ctrl-transition-speed variables.$form-ctrl-transition-easing,
    box-shadow variables.$form-ctrl-transition-speed variables.$form-ctrl-transition-easing;

  &::placeholder {
    color: transparent;
  }

  &:focus {
    border-color: variables.$form-ctrl-focus-border-color;
    box-shadow: variables.$form-ctrl-focus-shadow;
  }

  &:focus,
  &:not(:placeholder-shown) {
    padding-top: variables.$form-ctrl-focus-padding-top;
    padding-bottom: variables.$form-ctrl-focus-padding-bottom;

    ~ label {
      color: variables.$form-label-focus-color;
      transform: variables.$form-label-focus-transforms;

      &::after {
        position: absolute;
        inset: 1rem 0.375rem;
        z-index: -1;
        height: 1.5em;
        content: '';
        background-color: transparent;
        border-radius: variables.$form-ctrl-radius;
      }
    }
  }

  &:-webkit-autofill {
    padding-top: variables.$form-ctrl-focus-padding-top;
    padding-bottom: variables.$form-ctrl-focus-padding-bottom;

    ~ label {
      color: variables.$form-label-focus-color;
      transform: variables.$form-label-focus-transforms;
    }
  }

  &.invalid,
  &.interacted:invalid {
    background-color: variables.$form-ctrl-invalid-bg-color;
    border-color: variables.$form-ctrl-invalid-border-color;

    &:focus {
      border-color: variables.$form-ctrl-invalid-focus-border-color;
      box-shadow: variables.$form-ctrl-invalid-focus-shadow;
    }

    ~ label {
      color: variables.$form-label-invalid-color;
    }
  }
}

textarea.form-ctrl {
  resize: vertical;
  min-height: variables.$form-ctrl-textarea-min-height;
  height: variables.$form-ctrl-textarea-min-height;
  max-height: variables.$form-ctrl-textarea-max-height;
}
