@import 'variables';
@import 'mixins';

#header {
  display: flex;
  align-items: stretch;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: $header-zindex;

  h1 {
    margin: 0;
  }

  .nav-spacer {
    flex: 1;
    display: flex;
  }
}

#header-text {
  @include visually-hidden;
}

#side-nav-toggle {
  display: flex;
  align-items: center;
  font-size: $header-side-nav-toggle-font-size;
  padding: $header-side-nav-toggle-padding;
  color: $header-side-nav-toggle-color;
  line-height: 1;
  height: 100%;

  &:active,
  &:focus,
  &:hover {
    background-color: $header-side-nav-toggle-color-bg-active;
    color: $header-side-nav-toggle-color-active;
    text-decoration: none;
  }
}

#header-logo {
  display: block;
  height: $header-logo-height;
  margin: $header-logo-margin-v 0;
  overflow: visible;
}

#logo-shape-inner,
#logo-shape-outer {
  fill: $header-logo-shape-color;
}

#logo-text-analytics,
#logo-text-landmark {
  fill: $header-logo-text-color;
}

@include breakpoint-up($grid-desktop-min-size) {
  // Desktop overrides

  #header {
    flex-direction: column;
    align-items: center;

    .nav-spacer {
      display: none;
    }
  }

  #side-nav-toggle {
    display: none;
  }

  #header-logo {
    height: $header-desktop-logo-height;
    margin: $header-desktop-logo-margin-v 0;
  }
}
