@import 'variables';

$header-animation-duration: 0.7s;
$header-animation-step-amount: 0.1s;
$header-animation-shape-start-offset-x: -5px;
$header-animation-letter-easing: $ease-out-back;

@keyframes animate-shape-fill {
  0% {
    fill: transparent;
    transform: translateX($header-animation-shape-start-offset-x);
  }

  100% {
    fill: $header-logo-shape-color;
    transform: translateX(0);
  }
}

@keyframes animate-text-fill {
  0% {
    fill: transparent;
    transform: translateX($header-animation-shape-start-offset-x);
  }

  100% {
    fill: $header-logo-text-color;
    transform: translateX(0);
  }
}

#logo-text-analytics,
#logo-text-landmark {
  isolation: isolate;
}

#logo-shape-inner {
  animation-delay: $header-animation-duration + $header-animation-step-amount;
}

#logo-shape-outer {
  animation-delay: $header-animation-duration + ($header-animation-step-amount * 2);
}

// Only animate when the `.animate` class is added!
// This is added by JavaScript on the first page load of a session
// so it won't be repetitive/annoying across multiple pages
#header-logo.animate {
  #logo-shape-inner,
  #logo-shape-outer,
  #logo-text-landmark path,
  #logo-text-analytics path {
    animation-fill-mode: both;
    animation-duration: $header-animation-duration;
  }

  #logo-shape-inner,
  #logo-shape-outer {
    animation-name: animate-shape-fill;
  }

  #logo-text-landmark path,
  #logo-text-analytics path {
    animation-timing-function: $header-animation-letter-easing;
    animation-name: animate-text-fill;
  }
}

// LANDMARK has 8 letters
@for $i from 0 through 7 {
  #logo-text-landmark :nth-child(#{$i + 1}) {
    animation-delay: 1s + ($header-animation-step-amount * $i);
  }
}

// ANALYTICS has 9 letters
@for $i from 0 through 8 {
  #logo-text-analytics :nth-child(#{$i + 1}) {
    animation-delay: 0.9s + ($header-animation-step-amount * $i);
  }
}
