@use 'variables' as variables;
@use 'mixins' as mixins;

#sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: variables.$sidebar-zindex;
  padding: variables.$sidebar-padding;
  width: variables.$sidebar-width;
  background-color: variables.$sidebar-color-bg;
  transform: translateX(-100%);
  transition: variables.$duration transform variables.$ease-out-expo;

  .nav-open & {
    transform: translateX(0);
    box-shadow: variables.$sidebar-shadow;
  }

  &-backdrop {
    position: fixed;
    inset: 0;
    z-index: variables.$sidebar-backdrop-z-index;
    background-color: variables.$sidebar-backdrop-color;
    opacity: 0;
    pointer-events: none;
    transition: variables.$duration opacity;

    .nav-open & {
      opacity: 1;
      pointer-events: all;
    }
  }
}

#side-navigation {
  display: flex;
  flex-direction: column;

  a {
    padding: variables.$side-nav-link-padding;
    border-left-width: variables.$nav-link-border-width !important;
  }
}

#header-navigation {
  display: none; // default, but overridden below
  justify-content: center;
  width: 100%;

  a {
    padding: variables.$desktop-nav-padding;
    border-bottom-width: variables.$nav-link-border-width !important;
  }
}

#side-navigation,
#header-navigation {
  font-size: variables.$nav-font-size;

  a {
    color: variables.$nav-link-color;
    border: 0 solid transparent;

    &:hover,
    &:focus {
      text-decoration: none;
      border-color: variables.$nav-link-active-border-color;
    }

    &.current {
      font-weight: variables.$nav-link-active-font-weight;
      color: variables.$nav-link-active-color;
      background-color: variables.$nav-link-active-color-bg;
      border-color: variables.$nav-link-active-border-color;
    }
  }
}

@include mixins.breakpoint-up(variables.$grid-desktop-min-size) {
  // Desktop overrides

  #sidebar,
  #sidebar-backdrop {
    display: none;
  }

  #header-navigation {
    display: flex;
  }
}
