@use 'sass:map';
@use 'variables' as variables;
@use 'mixins' as mixins;

.container {
  margin: 0 auto;
  max-width: map.get(variables.$grid-breakpoints, variables.$grid-desktop-container-max-size);
  padding: 0 variables.$spacer;
}

.visually-hidden {
  @include mixins.visually-hidden;
}

.text-error {
  color: variables.$theme-color-error;
}

.text-success {
  color: variables.$theme-color-success;
}

.text-center {
  text-align: center;
}

.icon {
  width: 32px;
  height: 32px;
}

.mt-0 {
  margin-top: 0 !important;
}

.mt-1 {
  margin-top: variables.$spacer-xs !important;
}
.mt-2 {
  margin-top: variables.$spacer-sm !important;
}
.mt-3 {
  margin-top: variables.$spacer !important;
}
.mt-4 {
  margin-top: variables.$spacer-lg !important;
}

// -----------------------------
// Grid
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 (calc(variables.$grid-gutter / 2) * -1);

  > * {
    width: 100%;
    max-width: 100%;
    padding: 0 calc(variables.$grid-gutter / 2);
  }
}

@include mixins.make-grid-columns;
