/*************************
** Header
Anything that goes in the header element goes here.
This incldes the logo and navigation links
*************************/
header {
    text-align: center;
    padding: 15px;
}

#header-text {
    /*This hides the header text since we have a logo image, but the text is still there for screen readers*/
    /*The `!important` makes sure that nothing else overrides the property.*/
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}

#header-logo {
    height: 70px;
    overflow: visible; /*This keeps the animated parts of the logo from appearing outside of their container*/
}

#logo-shape-inner,
#logo-shape-outer {
    fill: #ec2331; /*The fill property sets the color for an SVG shape*/
}

#logo-text-analytics,
#logo-text-landmark {
    fill: #333; /*The fill property sets the color for an SVG shape*/
}

#main-navigation a {
    font-weight: bold;
    text-decoration: none;
}

    #main-navigation a.current {
        color: #ec2331;
        border-bottom: 2px solid #ec2331;
    }
