@page
@model ErrorModel
@{
    bool pageNotFound = Model.OriginalStatusCode == 404;
    ViewData["Title"] = pageNotFound ? "Page Not Found!" : "Error!";
}

<h2>@ViewData["Title"]</h2>

@if (!pageNotFound)
{

    <h3>An error occurred while processing your request.</h3>

    @if (Model.ShowRequestId)
    {
        <p>
            <strong>Request ID:</strong> <code>@Model.RequestId</code>
        </p>
    }
}
