@page
@model LandmarkPublicWeb.Pages.IndustriesModel
@{
    ViewData["Title"] = "Industries";
}

<h2>Areas We've Worked In</h2>
<ul>
    <li>Healthcare</li>
    <li>Manufacturing</li>
    <li>Pharma</li>
    <li>Retail (Mass, Department Stores, Specialty Chains)</li>
    <li>Financial Services (Mortgage, Banking, Insurance, Re-insurance)</li>
    <li>Manufacturing: Discrete & Process</li>
    <li>High Tech</li>
    <li>Healthcare <em>(Provider & Payor Services)</em></li>
    <li>Public Sector: Federal, State & Local Government, Transit Authorities, Public Utilities</li>
    <li>Pharmaceuticals & Clinical Trial Services</li>
    <li>Utilities <em>(Water & Sewer, Gas, Electric including FERC-regulated ISOs)</em></li>
    <li>Consumer Packaged Goods</li>
    <li>Textiles</li>
    <li>Web Security</li>
    <li>Aerospace</li>
    <li>Solutions</li>
    <li>Spreadsheet Management Platform</li>
    <li>Pre-Hire & Employee Survey Platform</li>
</ul>
