@page
@model LandmarkPublicWeb.Pages.IndustriesModel
@{
    ViewData["Title"] = "Industries";
}

<h2>Areas We've Worked In</h2>
<div class="row">
    <div class="col-md-6">
        <ul>
            <li>Manufacturing</li>
            <li>Pharma</li>
            <li>
                Retail
                <ul>
                    <li>Mass</li>
                    <li>Department Stores</li>
                    <li>Specialty Chains</li>
                </ul>
            </li>
            <li>
                Financial Services
                <ul>
                    <li>Mortgage</li>
                    <li>Banking</li>
                    <li>Insurance</li>
                    <li>Re-insurance</li>
                </ul>
            </li>
            <li>Manufacturing: Discrete & Process</li>
            <li>High Tech</li>
            <li>Healthcare <em>(Provider & Payor Services)</em></li>
        </ul>
    </div>
    <div class="col-md-6">
        <ul>
            <li>
                Public Sector
                <ul>
                    <li>Federal </li>
                    <li>State & Local Government</li>
                    <li>Transit Authorities</li>
                    <li>Public Utilities</li>
                </ul>
            </li>
            <li>Pharmaceuticals & Clinical Trial Services</li>
            <li>
                Utilities
                <ul>
                    <li>Water & Sewer</li>
                    <li>Gas</li>
                    <li>Electric <em>(including FERC-regulated ISOs)</em></li>
                </ul>
            </li>
            <li>Consumer Packaged Goods</li>
            <li>Textiles</li>
            <li>Web Security</li>
            <li>Aerospace</li>
            <li>Solutions</li>
            <li>Spreadsheet Management Platform</li>
            <li>Pre-Hire & Employee Survey Platform</li>
        </ul>
    </div>
</div>
