@import "variables";

header {
  text-align: center;
  padding: $desktop-nav-padding;
}

#header-text {
  @include screen-reader-only;
}

#header-logo {
  height: $desktop-header-logo-height;
  overflow: visible;
}

#logo-shape-inner,
#logo-shape-outer {
  fill: $header-logo-shape-color;
}

#logo-text-analytics,
#logo-text-landmark {
  fill: $header-logo-text-color;
}

#main-navigation {
  a {
    font-weight: $nav-font-weight;
    text-decoration: none;
    color: $desktop-nav-link-color;


    &.current {
      color: $desktop-nav-link-active-color;
      border-bottom: 2px solid $desktop-nav-link-active-border-color;
    }
  }
}
