@import "variables";

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;

  h1 {
    margin: 0;
  }
}

#header-text {
  @include screen-reader-only;
}

#header-logo {
  height: $desktop-header-logo-height;
  margin: $header-logo-margin-v 0;
  overflow: visible;
}

#logo-shape-inner,
#logo-shape-outer {
  fill: $header-logo-shape-color;
}

#logo-text-analytics,
#logo-text-landmark {
  fill: $header-logo-text-color;
}

#main-navigation {
  display: flex;
  justify-content: center;
  font-size: $desktop-nav-font-size;

  a {
    text-decoration: none;
    padding: $desktop-nav-padding;
    color: $desktop-nav-link-color;
    border-bottom: $desktop-nav-link-border-width solid transparent;

    &.current {
      font-weight: $nav-link-active-font-weight;
      color: $desktop-nav-link-active-color;
      background-color: $desktop-nav-link-active-color-bg;
      border-color: $desktop-nav-link-active-border-color;
    }
  }
}
