@import "variables";
@import "mixins";

*, *::before, *::after {
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
}

html {
  background: $theme-color-bg url($theme-bg-image) no-repeat center 0;
  background-size: contain;
  background-attachment: fixed;
  color: $theme-color-text;
  font-family: $font-family;
  overflow-y: scroll;
}

body {
  display: flex;
  flex-direction: column;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: $link-color-hover;
    text-decoration: underline;
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: $link-focus-outline-width solid $link-focus-outline-color;
  }
}

#header {
  background: $header-color-bg;
  backdrop-filter: blur($header-bg-blur);
  box-shadow: $header-shadow;
}

#main-content {
  background: $main-color-bg;
  padding: $main-padding;
  flex: 1; //expand to fill
  margin-top: calc($theme-bg-image-visible-height + $computed-header-height);
}

#footer {
  background: $main-color-bg;
  padding: $footer-padding;
  text-align: center;
}

@include breakpoint-up($grid-desktop-min-size) {
  //Desktop overrides

  aside {
    display: none;
  }

  #main-content {
    margin-top: calc($theme-bg-image-visible-height-desktop + $computed-header-height-desktop);
  }
}
