@import "variables";
@import "mixins";

*, *::before, *::after {
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
}

html {
  background: $theme-color-bg url('../img/lighthouse-bg-default.jpg') no-repeat 0 0;
  background-attachment: fixed;
  color: $theme-color-text;
  font-family: $font-family;
  overflow-y: scroll;
}

body {
  display: flex;
  flex-direction: column;
}

* {
  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: $focus-outline-width solid $focus-outline-color;
  }
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: $link-color-hover;
    text-decoration: underline;
  }
}

#header {
  background: $header-color-bg;
  backdrop-filter: blur($header-bg-blur);
  box-shadow: $header-shadow;
}

#main-content {
  background: $main-color-bg;
  padding: $main-padding;
  flex: 1; //expand to fill
  margin-top: calc($theme-bg-image-visible-height + $computed-header-height);
}

#footer {
  background: $main-color-bg;
  padding: $footer-padding;
  text-align: center;
}


@include breakpoint-up($grid-desktop-min-size) {
  //Desktop overrides

  html {
    background-image: url('../img/lighthouse-bg-desktop.jpg')
  }

  aside {
    display: none;
  }

  #main-content {
    margin-top: calc($theme-bg-image-visible-height-desktop + $computed-header-height-desktop);
  }
}

@media (min-width: 1921px) {
    //When the screen is wider than the large BG image, scale the image width to match
  html {
    background-size: 100% auto;
  }
}
