@import "variables";

html,
body {
  height: 100vh;
}

html {
  background: $theme-color-bg url($theme-bg-image) no-repeat center 0;
  background-size: contain;
  background-attachment: fixed;
  color: $theme-color-text;
  font-family: $font-family;
  overflow-y: scroll;
}

body {
  display: flex;
  flex-direction: column;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: $link-color-hover;
    text-decoration: underline;
  }
}

header {
  background: $header-color-bg;
  backdrop-filter: blur($header-bg-blur);
  box-shadow: $header-shadow;
}

main {
  background: $main-color-bg;
  padding: $main-padding;
  flex: 1; //expand to fill
  margin-top: calc($theme-bg-image-visible-height + $computed-header-height);
}

footer {
  background: $main-color-bg;
  padding: $footer-padding;
  text-align: center;
}
