@import "variables";
@import "mixins";

.container {
    margin: 0 auto;
    max-width: 900px;
    padding: 0 $spacer;
}

.hidden-svg {
  @include visually-hidden;
}

.text-error {
  color: $theme-color-error;
}
.text-success {
  color: $theme-color-success;
}

.row {
  display: grid;
  flex-wrap: wrap;
  gap: $spacer;

  > * {
    width: 100%;
    max-width: 100%;
  }
}

@include make-grid-columns();
