@import "variables";
@import "mixins";

.container {
    margin: 0 auto;
    max-width: 900px;
    padding: 0 $spacer;
}

.hidden-svg {
  @include visually-hidden;
}

.text-error {
  color: $theme-color-error;
}
.text-success {
  color: $theme-color-success;
}
