//---------------------------
//BREAKPOINTS
$grid-breakpoints: ( xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px, xxl: 1400px, );
$grid-desktop-min-size: md;


//---------------------------
//SPACING
$spacer: 1rem;
$spacers: ( 0: 0, 1: $spacer * 0.25, 2: $spacer * 0.5, 3: $spacer, 4: $spacer * 1.5, );
$spacer-xs: map-get($spacers, 1);
$spacer-sm: map-get($spacers, 2);
$spacer-lg: map-get($spacers, 4);


//---------------------------
//COLORS
$color-dark: #333;
$color-light: #FEFEFE;
$color-red: #EC2331;


//---------------------------
//THEME
$theme-color-text: $color-dark;
$theme-color-bg: $color-light;
$theme-color-highlight: $color-red;
$theme-bg-image-visible-height: 200px;
$theme-bg-image-visible-height-desktop: 450px;
$theme-color-error: darken($theme-color-highlight, 25%);


//---------------------------
//TEXT
$font-family: 'Raleway', sans-serif;
$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-size-xs: 0.75rem;
$font-size-sm: 0.9rem;
$font-size-md: 1.75rem;
$font-size-lg: 2.5rem;


//---------------------------
//MISC
$ease-out-back: cubic-bezier(0.34, 1.56, 0.64, 1);
$ease-out-expo: cubic-bezier(0.16, 1, 0.3, 1);
$duration: 400ms;
$duration-fast: $duration/2;
$shadow: rgba($color-dark, 30%) 0 0 15px 5px;
$radius: 1rem;
$radius-sm: $radius / 2;
$link-color: $theme-color-highlight;
$link-color-hover: lighten($theme-color-highlight, 5%);
$focus-outline-color: rgba($theme-color-highlight, .6);
$focus-outline-width: 2px;
$focus-shadow: 0 0 10px rgba($theme-color-highlight, .6), inset 0 0 10px rgba($theme-color-highlight, .2);


//---------------------------
//HEADER
$header-zindex: 10;
$header-color-bg: rgba($theme-color-bg, 0.75);
$header-bg-blur: 10px;
$header-shadow: $shadow;
$header-side-nav-toggle-color: $theme-color-text;
$header-side-nav-toggle-color-active: $theme-color-highlight;
$header-side-nav-toggle-color-bg-active: rgba($theme-color-highlight, .1);
$header-side-nav-toggle-font-size: $font-size-md;
$header-side-nav-toggle-padding: $spacer-sm $spacer;
$header-logo-text-color: $theme-color-text;
$header-logo-shape-color: $theme-color-highlight;
$header-logo-margin-v: $spacer-sm;
$header-desktop-logo-margin-v: $spacer;
$header-logo-height: 40px;
$header-desktop-logo-height: 70px;

//---------------------------
//NAVIGATION (Shared: mobile + desktop)
$nav-link-active-font-weight: $font-weight-semibold;
$nav-link-color: $theme-color-text;
$nav-link-active-color: $theme-color-highlight;
$nav-link-active-color-bg: rgba($color-dark, .1);
$nav-link-active-border-color: $nav-link-active-color;
$nav-font-size: 20px;
$nav-link-border-width: 4px;

//---------------------------
//SIDE NAVIGATION (mobile)
$sidebar-zindex: $header-zindex + 2;
$sidebar-width: 200px;
$sidebar-shadow: $shadow;
$sidebar-padding: $spacer 0 0 0;
$sidebar-backdrop-z-index: $header-zindex + 1;
$sidebar-color-bg: rgba($theme-color-bg, 0.85);
$sidebar-backdrop-color: rgba($color-dark, 0.90);
$side-nav-link-padding: $spacer-sm $spacer $spacer-sm calc($spacer - $nav-link-border-width);


//---------------------------
//HEADER NAVIGATION (desktop)
$desktop-nav-padding-v: $spacer-sm;
$desktop-nav-padding-h: $spacer-sm;
$desktop-nav-padding: $desktop-nav-padding-v $desktop-nav-padding-h calc($desktop-nav-padding-v - $nav-link-border-width) $desktop-nav-padding-h;

$computed-header-height: calc($header-logo-height + ($header-logo-margin-v * 2));
$computed-header-height-desktop: calc($header-desktop-logo-height + ($header-desktop-logo-margin-v * 2) + ($desktop-nav-padding-v * 2));

//---------------------------
//FOOTER
$footer-padding: 0 0 $spacer 0;


//---------------------------
//MAIN CONTENT
$main-padding: $spacer 0;
$main-color-bg: $theme-color-bg;


//---------------------------
//FORMS
$form-group-margin: 0 0 $spacer 0;

$form-label-focus-transforms: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
$form-label-color: $theme-color-text;
$form-label-focus-color: rgba($form-label-color, 0.65);
$form-label-padding: 1rem $spacer-sm;
$form-label-transition-speed: $duration;
$form-label-transition-easing: $ease-out-back;
$form-label-invalid-color: $theme-color-error;
$form-label-zindex: 2;

$form-invalid-msg-color: $theme-color-error;
$form-invalid-msg-weight: $font-weight-semibold;

$form-ctrl-font-family: $font-family;
$form-ctrl-font-size: 1rem;
$form-ctrl-bg: #fff;
$form-ctrl-border-width: 1px;
$form-ctrl-border-color: $form-label-focus-color;
$form-ctrl-radius: $radius-sm;
$form-ctrl-height: calc(3rem + $form-ctrl-border-width * 2);
$form-ctrl-line-height: 1.25;
$form-ctrl-padding: $spacer-sm;

$form-ctrl-textarea-min-height: 150px;
$form-ctrl-textarea-max-height: 500px;

$form-ctrl-focus-border-color: $color-dark;
$form-ctrl-focus-shadow: 0 0 0 3px rgba($form-ctrl-border-color, .2);
$form-ctrl-focus-padding-top: 1.625rem;
$form-ctrl-focus-padding-bottom: 0.625rem;
$form-ctrl-invalid-bg-color: lighten($theme-color-error, 70%);
$form-ctrl-invalid-border-color: rgba($theme-color-error, .6);
$form-ctrl-invalid-focus-border-color: $theme-color-error;
$form-ctrl-invalid-focus-shadow: 0 0 0 3px rgba($theme-color-error, .4);

$form-ctrl-transition-speed: $duration-fast;
$form-ctrl-transition-easing: ease-in-out;
