@import "mixins";

//---------------------------
//COLORS
$color-dark: #333;
$color-light: #FEFEFE;
$color-red: #EC2331;


//---------------------------
//THEME
$theme-color-text: $color-dark;
$theme-color-bg: $color-light;
$theme-color-highlight: $color-red;
$theme-bg-image: '../img/lighthouse-bg.jpg';
$theme-bg-image-visible-height: 450px;


//---------------------------
//TEXT
$font-family: 'Raleway', sans-serif;
$font-weight-regular: 400;
$font-weight-semibold: 600;


//---------------------------
//MISC
$spacer: 1rem;
$spacer-lg: $spacer * 1.5;
$spacer-sm: $spacer * .5;
$spacer-xs: $spacer * .25;
$easing: cubic-bezier(0.34, 1.56, 0.64, 1);
$shadow: rgba($color-dark, 30%) 0 0 15px 5px;
$link-color: $theme-color-highlight;
$link-color-hover: lighten($theme-color-highlight, 5%);


//---------------------------
//HEADER
$header-color-bg: rgba($theme-color-bg, 0.75);
$header-bg-blur: 10px;
$header-shadow: $shadow;
$header-logo-margin-v: $spacer;
$header-logo-text-color: $theme-color-text;
$header-logo-shape-color: $theme-color-highlight;
$desktop-header-logo-height: 70px;


//---------------------------
//HEADER NAVIGATION
$nav-link-active-font-weight: $font-weight-semibold;
$desktop-nav-font-size: 20px;
$desktop-nav-link-border-width: 4px;
$desktop-nav-padding-v: $spacer-sm;
$desktop-nav-padding-h: $spacer-sm;
$desktop-nav-padding: $desktop-nav-padding-v $desktop-nav-padding-h calc($desktop-nav-padding-v - $desktop-nav-link-border-width) $desktop-nav-padding-h;

$desktop-nav-link-color: $theme-color-text;
$desktop-nav-link-active-color: $theme-color-highlight;
$desktop-nav-link-active-color-bg: rgba($color-dark, .1) ;
$desktop-nav-link-active-border-color: $desktop-nav-link-active-color;


$computed-header-height: calc($desktop-header-logo-height + ($header-logo-margin-v * 2) + ($desktop-nav-padding-v * 2));

//---------------------------
//FOOTER
$footer-padding: 0 0 $spacer 0;


//---------------------------
//MAIN CONTENT
$main-padding: $spacer 0;
$main-color-bg: $theme-color-bg;
